<!-- <h1>Get Coupon By End Date</h1> -->

<label><h3>Please Choose The Wanted End Date Here: </h3></label>
<input type="date" endDate="endDate" [(ngModel)]="chosenEndDate" [ngModelOptions]="{ standalone: true }" placeholder="endDate.." />
<br><br>
<button (click)="onSearch()">Search</button>

<br /><br />

<table>
  <div>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Picture</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Type</th>
      <th>Messege</th>
    </tr>

    <tr *ngFor="let c of coupons">
      <td>{{ c.id }}</td>
      <td>{{ c.title }}</td>
      <td><img [src]="c.picture" alt="picture" /></td>
      <td>{{ c.amount }}</td>
      <td>{{ c.price }}</td>
      <td>{{ c.startDate | date: "dd/MM/yyyy" }}</td>
      <td>{{ c.endDate | date: "dd/MM/yyyy" }}</td>
      <td>{{ c.type }}</td>
      <td>{{ c.msg }}</td>
    </tr>
  </div>
</table>
