<!-- <nav>
<a routerLink = "/customer"> Customer</a> |
<a routerLink = "/company"> Company</a> | 
<a routerLink = "/admin"> Admin</a> |
<a routerLink = "/login" *ngIf="!loginService.isLoggedIn">Login</a> |
<a href="javascript:void" (click)="logout()" routerLink = "#" *ngIf="loginService.isLoggedIn">Logout</a>
<a routerLink = "/companys">companys</a>
</nav> -->
<marquee>
   zzzzzz
 </marquee>

 <nav>
<a routerLink = "/admin">Admin</a> |
<a routerLink = "/company">Company</a> |
<a routerLink = "/customer">Customer</a> |
<!-- <button routerLink = "/home" type="submit" (click)="logout()">Logout</button> -->
</nav>

<h1>Coupon System</h1>

<router-outlet></router-outlet>


  
