<h2>Add New Customer</h2>

<form>
<input type="text" customerName = "name" [(ngModel)] = "customer.customerName" [ngModelOptions]="{standalone: true}" placeholder = "customerName...">
<br>
<input type="text" customerPassword = "password" [(ngModel)] = "customer.customerPassword" [ngModelOptions]="{standalone: true}" placeholder = "customerPassword...">

<button (click) = "addCustomer()">Add Customer</button>
</form>

<br>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<a class="material-icons" routerLink="/admin">arrow_back</a>