<h2>Add New Company</h2>

<form>
  <label>Amount: </label>
  <input
    type="text"
    Amount="amount"
    [(ngModel)]="coupon.amount"
    [ngModelOptions]="{ standalone: true }"
    placeholder="Amount of coupons in stock"
  />
  <br />
  <label>Message: </label>
  <input type="text" Messege="msg" [(ngModel)]="coupon.msg" [ngModelOptions]="{ standalone: true }" placeholder="some info on coupon" />
  <br />
  <label>Picture: </label>
  <input type="text" Picture="picture" [(ngModel)]="coupon.picture" [ngModelOptions]="{ standalone: true }" placeholder="Link for Image" />
  <br />
  <label>Price: </label>
  <input type="text" Price="price" [(ngModel)]="coupon.price" [ngModelOptions]="{ standalone: true }" placeholder="For Single Coupon" />
  <br />
  <label>Start Date: </label>
  <input type="date" StartDate="startDate" [(ngModel)]="startDate" [ngModelOptions]="{ standalone: true }" placeholder="ex:00-00-0000" />
  <br />
  <label>End Date: </label>
  <input type="date" EndDate="endDate" [(ngModel)]="endDate" [ngModelOptions]="{ standalone: true }" placeholder="ex:00-00-0000" />
  <br />
  <label>Title: </label>
  <input type="text" Title="title" [(ngModel)]="coupon.title" [ngModelOptions]="{ standalone: true }" placeholder="ex:50% off Tshirts" />
  <br />
  <td>
    <!-- <select [(ngModel)]="couponType.type"> -->
    <!-- <select *ngFor="let type of couponType"> -->

    <label>Type Of Coupon: </label>
    <select [(ngModel)]="coupon.type" [ngModelOptions]="{ standalone: true }">
      <option *ngFor="let c of couponType | keyvalue" [ngValue]="c.key">{{ c.value }}</option>
    </select>
    <button (click)="addCoupon()">Add Company</button>
  </td>
</form>

<br />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<a class="material-icons" routerLink="/admin">arrow_back</a>
