<label><h3>Please Insert Coupon Id Here:</h3></label>
<input type="number" id="id" [(ngModel)]="couponid" [ngModelOptions]="{ standalone: true }" placeholder="coupon id.." />
<br /><br />
<button (click)="onSearch()">Search</button>

<br /><br />
<table>
 <div>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Picture</th>
    <th>Amount</th>
    <th>Price</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Type</th>
    <th>Messege</th>
  </tr>

    <tr *ngIf="coupon">
      <td>{{ coupon.id }}</td>
      <td>{{ coupon.title }}</td>
      <td><img [src]="coupon.picture" alt="picture" /></td>
      <td>{{ coupon.amount }}</td>
      <td>{{ coupon.price }}</td>
      <td>{{ coupon.startDate }}</td>
      <td>{{ coupon.endDate }}</td>
      <td>{{ coupon.type }}</td>
      <td>{{ coupon.msg }}</td>
    </tr>
  </div>
</table>


<br /><br />

<form *ngIf="coupon">
  <h3>Choose New End Date To Your Coupon:</h3>
  <input type="date" [ngModel]="coupon.endDate" (ngModelChange)="setEndDate($event)" [ngModelOptions]="{ standalone: true }" placeholder="endDate(ex:01-01-0001)..."/>
  <br />
  <h3>Choose New Price To Your Coupon:</h3>
  <input type="text" [(ngModel)]="coupon.price" [ngModelOptions]="{ standalone: true }" placeholder="price..." />

  <br />
  <br />
  <button (click)="updateCoupon()">Update Coupon</button>
</form>
