<label><h3>Please Insert Customer Id Here:</h3></label>
<input type="number" id="id" [(ngModel)]="chosenCustomerId" [ngModelOptions]="{ standalone: true }" placeholder="1,2,3,4.." />

<button (click)="onSearch()">Search</button>

<div *ngIf="customer">
  <h3>Id: {{ customer.id }}</h3>
  <h3>Customer Name: {{ customer.customerName }}</h3>
  <h3>Customer Password: {{ customer.customerPassword }}</h3>
</div>

<br />

<button (click)="deleteCustomer()">Sure! Delete This Customer</button>
<button (click)="cancelDelete()">No! Back to List</button>
