<h2>Add New Company</h2>

<form>
<input type="text" comp_Name = "comp_Name" [(ngModel)] = "company.comp_Name" [ngModelOptions]="{standalone: true}" placeholder = "companyName...">
<br>
<input type="text" Email = "Email" [(ngModel)] = "company.email" [ngModelOptions]="{standalone: true}" placeholder = "companyEmail...">
<br>
<input type="text" Password = "Password" [(ngModel)] = "company.password" [ngModelOptions]="{standalone: true}" placeholder = "companyPassword...">

<button (click) = "addCompany()">Add Company</button>
</form>

<br>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<a class="material-icons" routerLink="/admin">arrow_back</a>