<label><h3>Please Insert Customer Id Here:</h3></label>
<input
  type="number"
  id="id"
  [(ngModel)]="customerid"
  [ngModelOptions]="{ standalone: true }"
  placeholder="1,2,3,4.."
/>

<button (click)="onsearch()">Search</button>

<br /><br />
<table>
  <tr>
    <th>Coupon ID</th>
    <th>Title</th>
    <th>Picture</th>
    <th>Amount</th>
    <th>Price</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Type</th>
    <th>Messege</th>
  </tr>

  <tr *ngFor="let c of coupons">
    <td>{{ c.id }}</td>
    <td>
      {{ c.title }}
    </td>
    <td><img [src]="c.picture" alt="picture" /></td>
    <td>{{ c.amount }}</td>
    <td>{{ c.price }}</td>
    <td>{{ c.startDate }}</td>
    <td>{{ c.endDate  }}</td>
    <td>{{ c.type }}</td>
    <td>{{ c.msg }}</td>
  </tr>
</table>
