<label><h3>Please Insert Customer Id Here:</h3></label>
<input
  type="number"
  id="id"
  [(ngModel)]="customerid"
  [ngModelOptions]="{ standalone: true }"
  placeholder="1,2,3,4.."
/>

<label><h3>Please Choose The Wanted Coupon Price:</h3></label>
<input
  type="number"
  price="price"
  [(ngModel)]="chosenprice"
  [ngModelOptions]="{ standalone: true }"
/>

<br /><br />
<button (click)="onSearch()">Search</button>

<br /><br />

<table>
  <div>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Picture</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Type</th>
      <th>Messege</th>
    </tr>

    <tr *ngFor="let c of coupons">
      <td>{{ c.id }}</td>
      <td>{{ c.title }}</td>
      <td><img [src]="c.picture" alt="picture" /></td>
      <td>{{ c.amount }}</td>
      <td>{{ c.price }}</td>
      <td>{{ c.startDate | date: "dd/MM/yyyy" }}</td>
      <td>{{ c.endDate }}</td>
      <td>{{ c.type }}</td>
      <td>{{ c.msg }}</td>
    </tr>
  </div>
</table>
