<h3>to show all incomes click down here</h3>

<button (click)="onSearch()">Income</button>

<br /><br />

<table>
  <div>
    <tr>
      <th>Income ID</th>
      <!-- <th>Client ID</th> -->
      <th>Name</th>
      <th>Date</th>
      <th>Description</th>
      <th>price</th>
    </tr>

    <tr *ngFor="let i of incomes">
      <td>{{ i.id }}</td>
      <!-- <td>{{ i.clientId }}</td> -->
      <td>{{ i.name }}</td>
      <td>{{ i.date | date: "dd/MM/yyyy"}}</td>
      <td>{{ i.description }}</td>
      <td>{{ i.price }}</td>
    </tr>
  </div>
</table>