<h2>here are our coupons:</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Picture</th>
    <th>Amount</th>
    <th>Price</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Type</th>
    <th>Messege</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>

  <tr *ngFor="let c of coupons">
    <td>
          <a routerLink = "/coupons/{{c.id}}">{{c.title}}</a>
    </td>
    <td>{{ c.picture }}</td>
    <td>{{ c.amount }}</td>
    <td>{{ c.price }}</td>
    <td>{{ c.startDate }}</td>
    <td>{{ c.endDate }}</td>
    <td>{{ c.type }}</td>
    <td>{{ c.msg }}</td>
  
    <td>
      <a routerLink="/coupons/update/{{ c.id }}">update</a>
    </td>
    <td>
      <a routerLink="/coupons/delete/{{ c.id }}">delete</a>
    </td>
  </tr>
</table>

<br>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<a class="material-icons" routerLink="/admin">arrow_back</a>

