

  <label><h3>Please Insert Company Id Here:</h3></label>
  <input
    type="number"
    id="id"
    [(ngModel)]="chosenCompanyId"
    [ngModelOptions]="{ standalone: true }"
    placeholder="1,2,3,4.."
  />
<br>
<h3>Click here to see all the company income</h3>
<br>
<button (click)="onSearch()">Search</button>

<br /><br />

<table>
  <div>
    <tr>
      <th>Income ID</th>
      <th>Company ID</th>
      <th>Name</th>
      <th>Date</th>
      <th>Description</th>
      <th>price</th>
    </tr>

    <tr *ngFor="let i of incomes">
      <td>{{ i.id }}</td>
      <td>{{ i.companyid }}</td>
      <td>{{ i.name }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.description }}</td>
      <td>{{ i.price }}</td>
    </tr>
  </div>
</table>